.bhbook-item,
.bhbook-content,
.bhbook-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bhbook-item {
  margin-bottom: 30px;
  list-style-type: none;
  overflow: hidden;
  text-align: left;
}

.bhbook-image a {
  display: block;
  border-bottom: 0 none !important;
  text-decoration: none;
}

.bhbook-image img {
  width: 100%;
}

@media ( min-width: 500px ) {
  .bhbook-image {
    float: left;
    padding-right: 5%;
    width: 30%;
  }
  .bhbook-content {
    float: left;
    width: 70%;
  }
}

.bhbook-title {
  font-weight: bold;
}

.bhbook-description {
  font-size: 85%;
}

/* Grid */
.bhbook-items__grid {
  margin: 0;
  padding: 0;
  text-align: justify;
}
.bhbook-items__grid {
  content: '';
  display: inline-block;
  width: 100%;
}
.bhbook-items__grid .bhbook-item {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
.bhbook-item:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.bhbook-items__grid .bhbook-image {
  margin-bottom: 12px;
  padding-right: 0;
  width: 100%;
}
.bhbook-items__grid .bhbook-image img {
  height: 200px;
  width: auto;
}

.bhbook-items__grid .bhbook-content {
  width: 100%;
}

@media ( max-width: 500px ) {
  .bhbook-items__grid .bhbook-item {
    width: 100%;
  }
}
