.bhbook-item {
  overflow: hidden;
  margin-bottom: 30px;
}
.bhbook-image img {
  width: 100%;
}

@media ( min-width: 500px ) {
  .bhbook-image {
    float: left;
    padding-right: 5%;
    width: 30%;
  }
  .bhbook-content {
    float: left;
    width: 70%;
  }
}

.bhbook-title {
  font-weight: bold;
}
.bhbook-description {
  font-size: 85%;
}