.bhbook-item,
.bhbook-content,
.bhbook-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bhbook-item {
  overflow: hidden;
  margin-bottom: 30px;
}

.bhbook-image a {
  display: block;
  border-bottom: 0 none !important;
  text-decoration: none;
}

.bhbook-image img {
  width: 100%;
}

@media ( min-width: 500px ) {
  .bhbook-image {
    float: left;
    padding-right: 5%;
    width: 30%;
  }
  .bhbook-content {
    float: left;
    width: 70%;
  }
}

.bhbook-title {
  font-weight: bold;
}

.bhbook-description {
  font-size: 85%;
}

.bhbook-items__grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.bhbook-items__grid .bhbook-item {
  margin-right: 10px;
  width: 30%;
}
.bhbook-items__grid .bhbook-image {
  margin-bottom: 12px;
  width: 100%;
}

.bhbook-items__grid .bhbook-content {
  width: 100%;
}
